@font-face 
{
	font-family: 'Dosis';
	src: url('../font/Dosis-Medium.ttf') format('truetype');
}

a
{
	font-size: 20px;
}

body
{
	background-color: #DDDDDD;
	background-image: url("../img/background.jpg");
	background-size: 100%;
	font-family: Dosis;
}

h1
{
	font-weight: bold;
	font-size: 60px;
	color: #001f6f;
	text-align: left;
}

i
{
	font-size: x-large;
}

p
{
	font-size: x-large;
}

.button
{
	height: 30px;
	width: auto;
}

.credit
{
	font-size: small;
}

.drap
{
	height: 14px;
	width: auto;
}

.header
{
	border: 3px solid #B7695C;
	background-color: #EEEEEE;
}

.left
{
	text-align: left
}

.linebreak
{
	height: 0px;
}
.logo
{
	height: 140px;
	width: auto;
}

.menu
{
	border: 3px solid #06425C;
	height: 40px;
	width: auto;
	background-color: #51A39D;
}

.room
{
	background-color: #AAAAAA;
	width:87%;
	height:330px;
	overflow-y: auto;
	overflow-x: hidden;
	direction: ltr;
}

.sendmessage
{
	border: 3px solid #333333;
	background-color: #AAAAAA;
	width:87%;
	height:45px;
}

.profile
{
	text-align:center;
	font-size: 30px;
	font-weight: bold;
	
}

.imageprofile
{
	text-align:center;
}

#captcha
{
	width: 100px;
	height: auto;
}

#logoisima
{
	width: 100px;
	height: auto;
}